@using TRS_06_28_2016_ESH_YMCUSTOMER.Helpers;
@using System.Reflection;
@model TRS_06_28_2016_ESH_YMCUSTOMER.Models.YMCustomersCreateViewModel
@{
    ViewBag.Title = "Edit";
    List<PropertyInfo> list = ViewBag.OrderedList;
}

<h2>Create</h2>
<style>
    .hidden {
        display: none;
    }
</style>


@using (Html.BeginForm())
{
    foreach (var m in list)
    {

        <fieldset class="form-group">
            @Labeler.Label(m);
            @{

                object editorText = Model.GetType().GetProperty(m.Name).GetValue(Model, null) ?? "";
                string editorString = editorText.ToString();
            }
            @Editor.DetailsField(m, editorString)
        </fieldset>
     }
       
     @Html.ActionLink("Edit","Edit",new { id = Model.ym_customer_id },new { @class = "btn btn-info"})    
     @Html.ActionLink("Delete", "Delete", new { id = Model.ym_customer_id }, new { @class = "btn btn-info" })
                }